/* :root {
  --red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --grayish-red: hsl(0, 6%, 24%);
  --linear-gradient1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --linear-gradient2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
} */

@import url("./css/colors/colors.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  max-width: 1440px;
  height: 100vh;
  background-image: url(./assests/bg-pattern-desktop.svg);
  background-position: left 90%;
  background-repeat: no-repeat;
  margin: auto;
}


@media (min-width: 160em) {
}
