@import url("./css/colors/colors.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  max-width: 1440px;
  height: 100vh;
  background-image: url(./assests/bg-pattern-desktop.svg);
  background-position: left 90%;
  background-repeat: no-repeat;
  margin: auto;
}

@media (min-width: 160em) {
}
